In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('http://www.ppgia.pucpr.br/~jean.barddal/datascience/kobe_shots.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30697 entries, 0 to 30696
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   action_type         30697 non-null  object
 1   combined_shot_type  30697 non-null  object
 2   game_event_id       30697 non-null  int64
 3   game_id             30697 non-null  int64
 4   lat                 30697 non-null  float64
 5   loc_x               30697 non-null  int64
 6   loc_y               30697 non-null  int64
 7   lon                 30697 non-null  float64
 8   minutes_remaining   30697 non-null  int64
 9   period              30697 non-null  int64
 10  playoffs            30697 non-null  int64
 11  season              30697 non-null  object
 12  seconds_remaining   30697 non-null  int64
 13  shot_distance       30697 non-null  int64
 14  shot_made_flag      25697 non-null  float64
 15  shot_type           30697 non-null  object
 16  shot_zone_area      30697 non-null  object
 17  shot_zone_basic     30697 non-null  object
 18  shot_zone_range     30697 non-null  object
 19  team_id             30697 non-null  int64
 20  team_name           30697 non-null  object
 21  game_date           30697 non-null  object
 22  matchup             30697 non-null  object
 23  opponent            30697 non-null  object
 24  shot_id             30697 non-null  int64
dtypes: float64(3), int64(11), object(11)
memory usage: 5.9+ MB

In [5]:
print(df.shape)

(30697, 25)

In [6]:
df.head()

,action_type,combined_shot_type,game_event_id,game_id,lat,loc_x,loc_y,lon,minutes_remaining,period,...,shot_type,shot_zone_area,shot_zone_basic,shot_zone_range,team_id,team_name,game_date,matchup,opponent,shot_id
0,Jump Shot,Jump Shot,10,20000012,33.9723,167,72,-118.1028,10,1,...,2PT Field Goal,Right Side(R),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,1
1,Jump Shot,Jump Shot,12,20000012,34.0443,-157,0,-118.4268,10,1,...,2PT Field Goal,Left Side(L),Mid-Range,8-16 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,2
2,Jump Shot,Jump Shot,35,20000012,33.9093,-101,135,-118.3708,7,1,...,2PT Field Goal,Left Side Center(LC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,3
3,Jump Shot,Jump Shot,43,20000012,33.8693,138,175,-118.1318,6,1,...,2PT Field Goal,Right Side Center(RC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,4
4,Driving Dunk Shot,Dunk,155,20000012,34.0443,0,0,-118.2698,6,2,...,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,5

In [7]:
df.tail()

,action_type,combined_shot_type,game_event_id,game_id,lat,loc_x,loc_y,lon,minutes_remaining,period,...,shot_type,shot_zone_area,shot_zone_basic,shot_zone_range,team_id,team_name,game_date,matchup,opponent,shot_id
30692,Jump Shot,Jump Shot,397,49900088,33.9963,1,48,-118.2688,6,4,...,2PT Field Goal,Center(C),In The Paint (Non-RA),Less Than 8 ft.,1610612747,Los Angeles Lakers,2000-06-19,LAL vs. IND,IND,30693
30693,Tip Shot,Tip Shot,398,49900088,34.0443,0,0,-118.2698,6,4,...,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,1610612747,Los Angeles Lakers,2000-06-19,LAL vs. IND,IND,30694
30694,Running Jump Shot,Jump Shot,426,49900088,33.8783,-134,166,-118.4038,3,4,...,2PT Field Goal,Left Side Center(LC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-06-19,LAL vs. IND,IND,30695
30695,Jump Shot,Jump Shot,448,49900088,33.7773,31,267,-118.2388,2,4,...,3PT Field Goal,Center(C),Above the Break 3,24+ ft.,1610612747,Los Angeles Lakers,2000-06-19,LAL vs. IND,IND,30696
30696,Jump Shot,Jump Shot,471,49900088,33.9723,1,72,-118.2688,0,4,...,2PT Field Goal,Center(C),In The Paint (Non-RA),Less Than 8 ft.,1610612747,Los Angeles Lakers,2000-06-19,LAL vs. IND,IND,30697

In [8]:
df['action_type']

0                Jump Shot
1                Jump Shot
2                Jump Shot
3                Jump Shot
4        Driving Dunk Shot
               ...
30692            Jump Shot
30693             Tip Shot
30694    Running Jump Shot
30695            Jump Shot
30696            Jump Shot
Name: action_type, Length: 30697, dtype: object

In [10]:
df[['action_type', 'period']]

             action_type  period
0              Jump Shot       1
1              Jump Shot       1
2              Jump Shot       1
3              Jump Shot       1
4      Driving Dunk Shot       2
...                  ...     ...
30692          Jump Shot       4
30693           Tip Shot       4
30694  Running Jump Shot       4
30695          Jump Shot       4
30696          Jump Shot       4

[30697 rows x 2 columns]

In [11]:
df.describe()

,game_event_id,game_id,lat,loc_x,loc_y,lon,minutes_remaining,period,playoffs,seconds_remaining,shot_distance,shot_made_flag,team_id,shot_id
count,30697.000000,3.069700e+04,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,25697.000000,3.069700e+04,30697.000000
mean,249.190800,2.476407e+07,33.953192,7.110499,91.107535,-118.262690,4.885624,2.519432,0.146562,28.365085,13.437437,0.446161,1.610613e+09,15349.000000
std,150.003712,7.755175e+06,0.087791,110.124578,87.791361,0.110125,3.449897,1.153665,0.353674,17.478949,9.374189,0.497103,0.000000e+00,8861.604943
min,2.000000,2.000001e+07,33.253300,-250.000000,-44.000000,-118.519800,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.610613e+09,1.000000
25%,110.000000,2.050008e+07,33.884300,-68.000000,4.000000,-118.337800,2.000000,1.000000,0.000000,13.000000,5.000000,0.000000,1.610613e+09,7675.000000
50%,253.000000,2.090035e+07,33.970300,0.000000,74.000000,-118.269800,5.000000,3.000000,0.000000,28.000000,15.000000,0.000000,1.610613e+09,15349.000000
75%,368.000000,2.960047e+07,34.040300,95.000000,160.000000,-118.174800,8.000000,3.000000,0.000000,43.000000,21.000000,1.000000,1.610613e+09,23023.000000
max,659.000000,4.990009e+07,34.088300,248.000000,791.000000,-118.021800,11.000000,7.000000,1.000000,59.000000,79.000000,1.000000,1.610613e+09,30697.000000

In [ ]:
# Slicing
df[10:20]

In [ ]:
df.loc[0]

In [ ]:
df.iloc[0]

In [ ]:
df_sem_zero=df.drop(0, axis=0, inplace=True)

In [ ]:
df['shot_type'].unique()

In [ ]:
df['shot_type'].nunique()

In [ ]:
df['shot_type'].value_counts()

In [ ]:
df.groupby('shot_type').count()