# Final Report - Data Science
## Bachelor in Computer Science / PUCPR

Professor Jean Paul Barddal

`Bruno Ribeiro Braga Silva Freire` - `brunorbsf@gmail.com`

`Fabio Murilo Correa Cagni` - `fabio.cagni@gmail.com`

`Ricardo Mouzinho Vicentini` - `moricardovvv40@gmail.com`

`Williams Braga Soares Alves` - `bragawilliams@yahoo.com.br`

`Place your name here` - `and your email here`

`And the year here`

# Import the libs you need

In [19]:
import pandas as pd
import numpy as np
import matplotlib as mpl

# Loading your data

Below, load the data using pandas and make all the necessary data cleansing so that all data types are correct for posterior analysis.

In [16]:
!pip3 install wget
import os
import wget
import shutil

# Auto load dataset from ppgia
dataset_dir = "data/"
base_url = "http://www.ppgia.pucpr.br/~jean.barddal/datascience/proj/"
training_dataset_path = "train.csv"
testing_dataset_path = "test.csv"

# The dataset to be downloaded, if you wanna use testing, just comment the 
# top line and uncomment the bottom one
dataset_selected = training_dataset_path
# dataset_selected = testing_dataset_path

dataset_url = base_url + dataset_selected
dataset_path = dataset_dir + dataset_selected

already_present = os.path.exists(dataset_path)
is_dir = os.path.isdir(dataset_path)
redownload = not already_present or is_dir
delete_old = is_dir
if redownload:
    if delete_old:
      shutil.rmtree(dataset_path)
    abs_path=os.path.abspath(dataset_path)
    os.makedirs(dataset_dir, exist_ok=True)
    print("Downloading dataset... ", dataset_url)
    url=wget.download(dataset_url, dataset_dir)
    print("Downloaded @", url)
else:
    print("Found preexisting dataset @", dataset_path)
    url = dataset_path

Requirement already satisfied: wget in /usr/local/lib/python3.6/dist-packages (3.2)
Found preexisting dataset @ data/train.csv

In [23]:
# Read data from file 'filename.csv' 
# (in the same directory that your python process is based)
# Control delimiters, rows, column names with read_csv (see later) 
data = pd.read_csv(url, na_values=-9999)

In [24]:
data.head(10)

   HS_CPF   TEMPOCPF  ...  ANOSULTIMADECLARACAOPAGAR TARGET
0    4089  20.314066  ...                        NaN    0.0
1  505275  27.453985  ...                        NaN    0.0
2   87104  10.251913  ...                        NaN    0.0
3  173070  26.325559  ...                        NaN    0.0
4  614153   3.575962  ...                        NaN    1.0
5   18147  27.302983  ...                        NaN    0.0
6  631678   5.990916  ...                  -0.082018    0.0
7  227880  21.370061  ...                        NaN    0.0
8   68859  10.264407  ...                        NaN    0.0
9  611961   3.705500  ...                        NaN    0.0

[10 rows x 70 columns]

## Univariate data analysis

In this section, you should perform univariate data analysis on at least 20 variables.

In the end, you should describe the main variables that are of your interest, and these should be accounted for in the next sections of the report.
The definition of each variable chosen should be clarified, so arbitrary selections are **not** accepted at this point.

For each variable plotted, make sure you determine the following:
1. The distribution of the data (gaussian, binomial, exponential, etc)
2. Skew
3. Kurtosis
4. Mean, standard deviation, and what they stand for in the context of the dataset

Regardless of the type of the variable being analyzed, make sure you plot it correctly. For instance, make sure scatterplots are not used for categorical data and so forth.

In [ ]:
# place as many cells to plot the visualizations,
# as well as to describe the main findings

In [ ]:
# if you realize you need to further clean your data here, there is no problem,
# yet, make sure you are describing the entire process and the rationale
# behind your choices here

# Multivariate data analysis

In this section, you should plot at least 8 multivariate visualizations. The key here is to investigate underlying correlations and behaviors in the dataset.
Naturally, as visualizations are being created, we should end up with obvious results, yet, you should find at least **TWO** non-obvious behavior in data.

Please follow these steps for creating your visualizations:
1. State an hypothesis. The key here is to explain why you are choosing those specific variables together and what you are expecting to find.
2. Determine what kind of visualization is the most suited.
3. Report the findings and whether they corroborate or not the aforestated hypothesis.


### Hints

In this section, make sure you go beyond naive explorations. For instance, try PCA, t-SNE, and even other techniques we have not worked with during the lectures. The key here is to start to develop a critical mindset towards data analysis and our own work.

### Important

It is strictly forbidden to create multivariate visualizations using variables that were not used in the previous section (univariate analysis).

In [ ]:
# again, feel free to place as many cells to plot the visualizations,
# as well as describe to the main findings

# Todo: Finish up until this point until 13/09
# Final Plots

In this section, you need to enhance 3 multivariate visualizations that were presented in the previous section of the report.
The key here is to enhance these visualizations with the goal of presenting them for an audience that is not familiar with the dataset used or with data analysis.
**Therefore, make sure that its size, colors, textures, etc, are appropriate are convey the right information to the audience.**

For your final plots, make sure you follow these steps:
1. Present the plot
2. Provide a description of the visualization, including the main findings that we can extract from it


**Hint: take a look at the checklist also made available based on the work of Evergreen.**

In [ ]:
# your code goes here

# Digest

In this section you should write down all the main findings of this exploratory data analysis. Furthermore, you should provide a reflection about your own work and effort during the module, highlighting what you believe you have done well and what you should have done differently. This digest should have at least 2500 characters (no spaces).

```
Add your text here.
```

# Machine Learning

In this section, you should test different machine learning approaches to **build** and **evaluate** your model.

**IMPORTANT: DO NOT FORGET TO REPORT YOUR PREDICTIONS FOR THE TEST DATA. YOU SHOULD BUILD AND EXPORT A FILE ACCORDING TO THE PROJECT DESCRIPTION WITH THE DEFAULTING PROBABILITIES!**

In [ ]:
# use as many cells as you wish.

In [ ]:
# but the sure that all cells are commented adequately!

# Future work

In this cell, please provide at least 3 different ideas that you would like to pursuit within this dataset. That may include, for example, the use of machine learning techniques towards a goal, or analyzing variables that you had no time to during this work.
Please provide **details** on how you would tackle this problem and provide specifics on which techniques should be used for such purposes.
This section should contain, at least, 2500 characters (no spaces).

```
Add your text here.
```

# Final Steps

1. Save this report as a jupyter notebook (`.ipynb`)
2. Save a copy of this report as a PDF file (`.pdf`)
3. Copy the dataset
4. Zip it all together within a single file (`<your_name>.zip`)
5. Send it over using Blackboard.